.dashboard-container {
  .card {
    margin-top: 20px;
  }

  .create-task {
    .btn {
      margin-top: 10px;
      margin-right: 5px;
    }
  }

  .list-group {
    display: inline;
  }
}

.btn-set {
  margin-top: 10px;
}

.cancel-btn {
  margin-right: 10px;
}